---
// Component Imports

import AstroButton from "../components/Button.astro";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/main.astro";
import { db } from "@/db";
import "@/globals.css";
import { lte } from "drizzle-orm";
import { season_weeks } from "drizzle/schema";
import { format } from "date-fns";

const dateString = format(new Date(), "yyyy-MM-dd");
const activeWeek = await db.query.season_weeks.findFirst({
  where: lte(season_weeks.start_date, dateString),
  orderBy: (season_weeks, { desc }) => [desc(season_weeks.start_date)],
});
---

<Layout>
  <div class="grid place-items-center h-screen content-center bg-background">
    <h1
      class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text text-6xl"
    >
      Week {activeWeek?.week_number}
    </h1>

    <Button>Hello World</Button>
    <a href="/markdown-page" class="p-4 underline"
      >Markdown is also supported...</a
    >
  </div>
</Layout>
