---
import { db } from "@/db";
import Layout from "@/layouts/main.astro";

const tracks = await db.query.tracks.findMany();
---

<Layout title="Tracks">
  {
    tracks.map((track) => (
      <a href={`/tracks/${track.id}`}>
        <li>
          {track.id} - {track.name}
        </li>
      </a>
    ))
  }
</Layout>
